

body {
  padding-left: 50px;
}

h1 {
  color: #00BFFF;
  font-size: 50pt;
}

h2 {
  color: #00BFFF;
}

a {
  color: #00BFFF;
}

img {
  width: 400px;
  height: 250px;
  border: 5px lightblue solid;
}
